/* Colors and Keyframes */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
   }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
   }
}

@-moz-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
   }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
   }
}

@-o-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
   }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
   }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
   }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
   }
}

@-webkit-keyframes background {
    0% {
        top: 100%;
   }
    70% {
        top: 0;
   }
    100% {
        top: -100%;
   }
}

@-moz-keyframes background {
    0% {
        top: 100%;
   }
    70% {
        top: 0;
   }
    100% {
        top: -100%;
   }
}

@-o-keyframes background {
    0% {
        top: 100%;
   }
    70% {
        top: 0;
   }
    100% {
        top: -100%;
   }
}

@keyframes background {
    0% {
        top: 100%;
   }
    70% {
        top: 0;
   }
    100% {
        top: -100%;
   }
}

/* Reset */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
}

body.overflow {
    overflow-y: auto;
}

/* Main DIV */
#main {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.1s ease;
    -moz-transition: opacity 0.1s ease;
    -o-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
    -webkit-transition-delay: 1.1s;
    -moz-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

#wrapper {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
#wrapper * {
    margin: 5px;
}
  
.heading {
    font-size: 3em;
    padding: 10px 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.caption {
    font-size: 20em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
    height: 50%;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.click-me {
    font-family: "indie_flowerregular";
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
  
.animatable {
    position: relative;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: .75s cubic-bezier(1,-0.01,.12,.8) 1s 1 reveal forwards;
}
  
.animatable::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #20262b;
    padding: inherit;
    animation: .75s cubic-bezier(1,-0.01,.12,.8) 1.75s 1 hideBlack forwards;
}

@keyframes reveal {
    from { clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); }
    to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@keyframes hideBlack {
    from { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    to { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .pulse {
    width: 50px;
    height: 50px;
    background-color: #2a2a2a;
    border-radius: 100%;
    -webkit-animation: pulse 1.2s infinite ease-in-out;
    -moz-animation: pulse 1.2s infinite ease-in-out;
    -o-animation: pulse 1.2s infinite ease-in-out;
    animation: pulse 1.2s infinite ease-in-out;
}

.loader .background {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
}

.loader.loaded {
    visibility: hidden;
}

.loader.loaded .pulse {
    opacity: 0 !important;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    visibility: hidden;
}

.loader.loaded .background {
    -webkit-animation: background 1.65s normal forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-animation: background 1.65s normal forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-animation: background 1.65s normal forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation: background 1.65s normal forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition-delay: 2.5s;
    -moz-transition-delay: 2.5s;
    -o-transition-delay: 2.5s;
    transition-delay: 2.5s;
}
/* End */